[rocksdb]
max_background_compactions = 10
max_background_flushes = 3
write_buffer_size = 1185792
max_write_buffer_number = 4
min_write_buffer_number_to_merge = 1
compaction_pri = 0
compaction_style = 0
level0_file_num_compaction_trigger = 4
level0_slowdown_writes_trigger = 24
level0_stop_writes_trigger = 44
compression_type = lz4
bloom_locality = 0
open_files = 10000
block_size = 6144
cache_index_and_filter_blocks = 1
max_bytes_for_level_base = 4194304
max_bytes_for_level_multiplier = 10
target_file_size_base = 1533952
target_file_size_multiplier = 1
num_levels = 5
memtable_bloom_size_ratio = 0.0
compression_ratio = 0.0

