[rocksdb]
max_background_compactions = 16
max_background_flushes = 7
write_buffer_size = 2094080
max_write_buffer_number = 8
min_write_buffer_number_to_merge = 2
compaction_pri = 3
compaction_style = 0
level0_file_num_compaction_trigger = 8
level0_slowdown_writes_trigger = 32
level0_stop_writes_trigger = 64
compression_type = none
bloom_locality = 1
open_files = 1000000
block_size = 16384
cache_index_and_filter_blocks = 1
max_bytes_for_level_base = 8388608
max_bytes_for_level_multiplier = 11
target_file_size_base = 555008
target_file_size_multiplier = 1
num_levels = 5
memtable_bloom_size_ratio = 0.0
compression_ratio = 0.99

